{% extends 'base.html' %}

{% block title %}

Chat room for "{{course.title}}"

{% endblock %}

{% block content %}
<div class="" id="chat">

</div>
<div class="" id="chat-input">
    <input type="text" id="chat-message-input" class="">
    <input type="text" id="chat-message-submit" class="" value="Send">
</div>
{% endblock %}

{% block include_js %}
{{course.id|json_script:"course-id"}}
{% endblock %}

{% block domready %}
const courseId=JSON.parse(
    document.getElementById('course-id').textContent
)
const url='ws://' + window.location.host + '/ws/chat/room/' + courseId + '/';

const chatSocket= new WebSocket(url);
chatSocket.onmessage=function(event){
    const data = JSON.parse(event.data)
    const chat=document.getElementById('chat')

    chat.innerHTML += " <div class='message'>" + data.message + "</div>" ;
    chat.scrollTop = chat.scrollHeight;
};
chatSocket.onclose =function(event){
    console.error('Chat socket closed unexpectedly ');
};
const input = document.getElementById('chat-message-input');
const submitButton = document.getElementById('chat-message-submit')
submitButton.addEventListener('click', function(event){
    if (message){
        chatSocket.send(JSON.stringfy({'message':message}))
        input.innerHTML =''
        input.focus();
    }
})input.addEventListener('keypress', function(event){
    if(event.key === 'Enter'){
        event.preventDefault();
        submitButton.click()
    }
})
input.focus()
{% endblock %}